@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    height: 10vh;
    background-color: black;
}

header img {
    display: flex;
    height: 9vh;
    margin-top: 0.4%;
}

header nav {
    display: flex;
    justify-content: space-between;
    
    width: 30%;

    padding-bottom: 0.5%;
    margin-right: 7%;
}

header nav a {
    padding: 45px 10px 0 10px;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

header nav a:hover {
    background-color: orangered;
    border-radius: 0 0 13px 13px;
}